:root{
    --headerHeight: 65px;
}
html{
    font-family: "Segoe UI";    
    margin: 0;    
}
body{
    margin: 0;
}
a{
    color: white;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    line-height: var(--headerHeight);
    width: 100%;
    height: var(--headerHeight);
    background-color: #feed8b;
    margin: 0;
    padding: 0;
    
}
main{
    margin-top: var(--headerHeight);
    background-color: rebeccapurple;
}
.currentCommonValue{
    width: 20cm;
    height: 50px;
    border: solid 5px;
    border-radius: 10,0,10,0;
    border-color: magenta;
    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
    text-align: center;
    line-height: 50px;
}
.commonHeader{
    height: 100%;
}
.生きとし生ける者{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}