:root{
    --headerHeight: 65px;
}
html{
    font-family: "Segoe UI";    
    margin: 0;    
}
body{
    font-family: "Segoe UI";    
    margin: 0;
    height: 20000px;
}
a{
    color: white;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    line-height: var(--headerHeight);
    width: 100%;
    height: var(--headerHeight);
    background-color: #feed8b;
    margin: 0;
    padding: 0;
    
}
main{
    margin-top: var(--headerHeight);
    background-color: rebeccapurple;
}
header a{
    text-align: center;
    width: 160px;
    color: red;
    text-shadow: 10% blue;
    text-decoration: none;
    -webkit-text-stroke: 0.6px black;
    /* background-color: black;
    border: solid 1px red;
    border-radius: 10%; */
}
header a:hover{
    scale: 1.2;
    color: cyan;
}
.currentCommonValue{
    width: 20cm;
    height: 50px;
    border: solid 5px;
    border-radius: 10,0,10,0;
    border-color: magenta;
    color: aqua;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
    text-align: center;
    line-height: 50px;
}
.commonHeader{
    height: var(--headerHeight);
    line-height: var(--headerHeight);
}
.生きとし生ける者{
    width: 100px;
    height: 100px;
    top: 0px;
    left: 0px;
    position: relative;
    background-color: blueviolet;
}